<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-restaurant-heading" data-cy="RestaurantCreateUpdateHeading">Create or edit a Restaurant</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nomRestaurant">Nom Restaurant</label>
          <input
            type="text"
            class="form-control"
            name="nomRestaurant"
            id="field_nomRestaurant"
            data-cy="nomRestaurant"
            formControlName="nomRestaurant"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_adresseRestaurant">Adresse Restaurant</label>
          <input
            type="text"
            class="form-control"
            name="adresseRestaurant"
            id="field_adresseRestaurant"
            data-cy="adresseRestaurant"
            formControlName="adresseRestaurant"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_numRestaurant">Num Restaurant</label>
          <input
            type="text"
            class="form-control"
            name="numRestaurant"
            id="field_numRestaurant"
            data-cy="numRestaurant"
            formControlName="numRestaurant"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_dateOuverture">Date Ouverture</label>
          <div class="d-flex">
            <input
              id="field_dateOuverture"
              data-cy="dateOuverture"
              type="datetime-local"
              class="form-control"
              name="dateOuverture"
              formControlName="dateOuverture"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_dateFermiture">Date Fermiture</label>
          <div class="d-flex">
            <input
              id="field_dateFermiture"
              data-cy="dateFermiture"
              type="datetime-local"
              class="form-control"
              name="dateFermiture"
              formControlName="dateFermiture"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_ResponsableRestaurant">Responsable Restaurant</label>
          <select
            class="form-control"
            id="field_ResponsableRestaurant"
            data-cy="responsableRestaurant"
            name="ResponsableRestaurant"
            formControlName="responsableRestaurant"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                ResponsableRestaurantOption.id === editForm.get('responsableRestaurant')!.value?.id
                  ? editForm.get('responsableRestaurant')!.value
                  : ResponsableRestaurantOption
              "
              *ngFor="let ResponsableRestaurantOption of responsableRestaurantsSharedCollection; trackBy: trackResponsableRestaurantById"
            >
              {{ ResponsableRestaurantOption.nomResponsable }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
