<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
      <h2 id="jhi-restaurant-heading" data-cy="RestaurantCreateUpdateHeading" *ngIf="!restaurant.id">Ajouter un Restaurant</h2>
      <h2 id="jhi-restaurant-heading" data-cy="RestaurantCreateUpdateHeading" *ngIf="restaurant.id">Modifier Restaurant</h2>
      <jhi-alert-error></jhi-alert-error>
      <jhi-alert></jhi-alert>
      <div>
        <div class="row mb-3">
          <label class="form-label" for="field_nomRestaurant">Nom</label>
          <input type="text" class="form-control" name="nomRestaurant" id="field_nomRestaurant" [(ngModel)]="restaurant.nomRestaurant" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_adresseRestaurant">Adresse</label>
          <input
            type="text"
            class="form-control"
            name="adresseRestaurant"
            id="field_adresseRestaurant"
            [(ngModel)]="restaurant.adresseRestaurant"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_numRestaurant">Numero</label>
          <input type="text" class="form-control" name="numRestaurant" id="field_numRestaurant" [(ngModel)]="restaurant.numRestaurant" />
        </div>

        <div class="row mb-3">
          <label class="form-control-label">Heure Ouverture</label>
          <input type="time" class="form-control" name="heureO" [(ngModel)]="heureO" />
        </div>

        <div class="row mb-3">
          <label class="form-label">Heure Fermiture</label>
          <input type="time" class="form-control" name="heureF" [(ngModel)]="heureF" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-success text-white"
        >
          <fa-icon icon="save"></fa-icon>
        </button>
      </div>
    </form>
  </div>
</div>
