<div>
  <h2 id="page-heading" data-cy="TypePlatHeading">
    <span>Type Plats</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2 text-white" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-type-plat text-white"
        [routerLink]="['/type-plat/new']"
      >
        <fa-icon icon="plus"></fa-icon>
      </button>
    </div>
  </h2>
  <jhi-alert-error></jhi-alert-error>
  <jhi-alert></jhi-alert>
  <div class="alert alert-warning" id="no-result" *ngIf="typePlats?.length === 0">
    <span>Aucun type Plats trouvé</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="typePlats && typePlats.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="type"><span>Type</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"><span>Image</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let typePlat of typePlats; trackBy: trackId" data-cy="entityTable">
          <td>{{ typePlat.type }}</td>
          <td>
            <div
              [style.backgroundImage]="'url(' + typePlat.imagePath + ')'"
              style="width: 50px; height: 50px; background-size: cover; background-repeat: no-repeat; background-position: center"
            ></div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/type-plat', typePlat.id, 'view']"
                class="btn btn-info btn-sm text-white"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
              </button>

              <button
                type="submit"
                [routerLink]="['/type-plat', typePlat.id, 'edit']"
                class="btn btn-primary btn-sm text-white"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>

              <button type="submit" (click)="delete(typePlat)" class="btn btn-danger btn-sm text-white" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="typePlats && typePlats.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
