<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-type-plat-heading" data-cy="TypePlatCreateUpdateHeading" *ngIf="!editForm.get('id')!.value">Ajouter un Type Plat</h2>
      <h2 id="jhi-type-plat-heading" data-cy="TypePlatCreateUpdateHeading" *ngIf="editForm.get('id')!.value">Modifier un Type Plat</h2>
      <jhi-alert-error></jhi-alert-error>
      <jhi-alert></jhi-alert>
      <div>
        <div class="row mb-3">
          <label class="form-label" for="field_type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_imagePath">Image</label>
          <input type="file" id="imageUpload" #fileInput (change)="uploadFile($event)" />
        </div>
      </div>

      <div>
        <button
          type="button"
          id="cancel-save"
          data-cy="entityCreateCancelButton"
          class="btn btn-secondary text-white"
          (click)="previousState()"
        >
          <fa-icon icon="ban"></fa-icon>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-success text-white"
        >
          <fa-icon icon="save"></fa-icon>
        </button>
      </div>
    </form>
  </div>
</div>
