<div>
  <h2 id="page-heading" data-cy="LivreurHeading">
    <span>Livreurs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2 text-white" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-livreur text-white"
        [routerLink]="['/livreur/new']"
      >
        <fa-icon icon="plus"></fa-icon>
      </button>
    </div>
  </h2>
  <jhi-alert-error></jhi-alert-error>
  <jhi-alert></jhi-alert>
  <div class="alert alert-warning" id="no-result" *ngIf="livreurs?.length === 0">
    <span>Aucun livreurs trouvé</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="livreurs && livreurs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="nomLivreur"><span>Nom </span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prenomLivreur"><span>Prenom </span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="adresseLivreur"><span>Adresse </span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="numLivreur"><span>Num </span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let livreur of livreurs; trackBy: trackId" data-cy="entityTable">
          <td>{{ livreur.nomLivreur }}</td>
          <td>{{ livreur.prenomLivreur }}</td>
          <td>{{ livreur.adresseLivreur }}</td>
          <td>{{ livreur.numLivreur }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/livreur', livreur.id, 'view']"
                class="btn btn-info btn-sm text-white"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
              </button>

              <button
                type="submit"
                [routerLink]="['/livreur', livreur.id, 'edit']"
                class="btn btn-primary btn-sm text-white"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>

              <button type="submit" (click)="delete(livreur)" class="btn btn-danger btn-sm text-white" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="livreurs && livreurs.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
