<div>
  <h2 id="page-heading" data-cy="CommandeDetailsHeading">
    <span>Mes Commande en cours</span>

    <div class="text-right">

      <button type="button" routerLink="/menu"
        class="btn btn-success "> {{ restau!.actuelMenu }}
        <fa-icon icon="plus"></fa-icon>
      </button>
      <button type="button" [routerLink]="['/restaurant', restau!.id, 'edit']"
        class="btn btn-warning"> {{ restau!.nomRestaurant}}
        <fa-icon icon="pencil-alt"></fa-icon>
      </button>
      <br />

      <button class="btn btn-info me-2 text-white" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
      </button>
    </div>
  </h2>
  <jhi-alert-error></jhi-alert-error>
  <jhi-alert></jhi-alert>
  <div class="alert alert-warning" id="no-result" *ngIf="commandeDetails?.length === 0">
    <span>Aucun commandeDétails trouvés</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="commandeDetails && commandeDetails.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="plat.id"><span>Plat</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prix"><span>Prix</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prix"><span>Quantité</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prix"><span>Net</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"><span>Livreur</span></th>
          <th scope="col" jhiSortBy="etat"><span>Etat</span> <fa-icon icon="sort"></fa-icon></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let commandeDetails of commandeDetails; trackBy: trackId" data-cy="entityTable">
          <td>
            <div *ngIf="commandeDetails.plat">
              <a [routerLink]="['/plat', commandeDetails.plat?.id, 'view']">{{ commandeDetails.plat?.nomPlat }}</a>
            </div><br />
            <div *ngIf="commandeDetails.Restau">
              <span class="badge badge-pill badge-warning text-white" [routerLink]="['/restaurant', commandeDetails.Restau?.id, 'view']">{{ commandeDetails.Restau?.nomRestaurant }}</span>
            </div>
          </td>
          <td>
            <span style="font-weight: 600">{{ commandeDetails.prix }}DT</span>
          </td>
          <td>
            <span class="text-info" style="font-weight: 600">{{ commandeDetails.qte }}</span>
          </td>
          <td>
            <span class="text-success" style="font-weight: 600">{{ commandeDetails.prix! * commandeDetails.qte! }}DT</span>
          </td>
          <td>
            <div *ngIf="commandeDetails.livreur">
              <a [routerLink]="['/livreur', commandeDetails.livreur?.id, 'view']">{{ commandeDetails.livreur?.nomLivreur }}</a>
            </div>
          </td>

          <td>
            <button (click)="modifierEtatCmd(commandeDetails)" *ngIf="commandeDetails.etat === 'demande'" class="btn btn-secondary text-white">
              demandée
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="commandeDetails && commandeDetails.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
