<div class="d-flex justify-content-center">
  <div class="col-md-6 border p-5">
    <div *ngIf="typePlat">
      <dl class="row-md jh-entity-details">
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ typePlat.type }}</span>
        </dd>
        <dt><span>Image</span></dt>
        <dd>
          <div
            [style.backgroundImage]="'url(' + typePlat.imagePath + ')'"
            style="width: 50px; height: 50px; background-size: cover; background-repeat: no-repeat; background-position: center"
          ></div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info text-white" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>
      </button>

      <button type="button" [routerLink]="['/type-plat', typePlat.id, 'edit']" class="btn btn-primary text-white" *jhiHasAnyAuthority="'ROLE_ADMIN'">
        <fa-icon icon="pencil-alt"></fa-icon>
      </button>
    </div>
  </div>
</div>
