<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="livreur">
      <h2 data-cy="livreurDetailsHeading"><span>Livreur</span></h2>

      <hr />
      <dl class="row-md jh-entity-details">
        <dt><span>Nom Livreur</span></dt>
        <dd>
          <span>{{ livreur.nomLivreur }}</span>
        </dd>
        <dt><span>Prenom Livreur</span></dt>
        <dd>
          <span>{{ livreur.prenomLivreur }}</span>
        </dd>
        <dt><span>Adresse Livreur</span></dt>
        <dd>
          <span>{{ livreur.adresseLivreur }}</span>
        </dd>
        <dt><span>Num Livreur</span></dt>
        <dd>
          <span>{{ livreur.numLivreur }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info text-white" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>
      </button>

      <button type="button" [routerLink]="['/livreur', livreur.id, 'edit']" class="btn btn-primary text-white">
        <fa-icon icon="pencil-alt"></fa-icon>
      </button>
    </div>
  </div>
</div>
