<form *ngIf="typePlat" name="deleteForm" (ngSubmit)="confirmDelete(typePlat.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="typePlatDeleteDialogHeading">Confirmer l’opération de suppression</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <p id="jhi-delete-typePlat-heading">Êtes-vous sûr de vouloir supprimer ce Type Plat?</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary text-white" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>
    </button>

    <button id="jhi-confirm-delete-typePlat" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger text-white">
      <fa-icon icon="times"></fa-icon>
    </button>
  </div>
</form>
