<div>
  <h2>
    <span id="user-management-page-heading" data-cy="userManagementPageHeading">Users</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2 text-white" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
      </button>
      <button class="btn btn-primary jh-create-entity text-white" [routerLink]="['./new']">
        <fa-icon icon="plus"></fa-icon>
      </button>
    </div>
  </h2>
  <jhi-alert-error></jhi-alert-error>
  <jhi-alert></jhi-alert>
  <div class="table-responsive" *ngIf="users">
    <table class="table table-striped" aria-describedby="user-management-page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="transition()">
          <th scope="col" jhiSortBy="login"><span>Connexion</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="email"><span>Email</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
          <th scope="col"><span>Profiles</span></th>
          <th scope="col" jhiSortBy="createdDate"><span>Date de création</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lastModifiedBy"><span>Modifié en dernier lieu par</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lastModifiedDate"><span>Date de dernière modification</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngIf="users">
        <tr *ngFor="let user of users; trackBy: trackIdentity">
          <td>
            {{ user.login }} <br />
            <span *ngIf="user.client" class="badge badge-pill badge-info">Client</span>
            <span *ngIf="user.livreur" class="badge badge-pill badge-success">Livreur</span>
            <span *ngIf="user.responsable" class="badge badge-pill badge-danger">Responsable Restaurant</span>
          </td>
          <td>{{ user.email }}</td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="setActive(user, true)" *ngIf="!user.activated">Deactivé</button>
            <button
              class="btn btn-success btn-sm"
              (click)="setActive(user, false)"
              *ngIf="user.activated"
              [disabled]="!currentAccount || currentAccount.login === user.login"
            >
              Activé
            </button>
          </td>
          <td>
            <div *ngFor="let authority of user.authorities">
              <span class="badge bg-info">{{ authority }}</span>
            </div>
          </td>
          <td>{{ user.createdDate | date: 'dd/MM/yy HH:mm' }}</td>
          <td>{{ user.lastModifiedBy }}</td>
          <td>{{ user.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['./', user.login, 'view']" class="btn btn-info btn-sm text-white">
                <fa-icon icon="eye"></fa-icon>
              </button>

              <button
                type="submit"
                [routerLink]="['./', user.login, 'edit']"
                queryParamsHandling="merge"
                class="btn btn-primary btn-sm text-white"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>

              <button
                type="button"
                (click)="deleteUser(user)"
                class="btn btn-danger btn-sm text-white"
                [disabled]="!currentAccount || currentAccount.login === user.login"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="users">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="transition()"
      ></ngb-pagination>
    </div>
  </div>
</div>
