<div>
  <h2 id="page-heading" data-cy="CommandeHeading">
    <span>mes commandes en cours</span>

    <div class="d-flex justify-content-end">
      <button id="jh-create-entity" class="btn btn-success jh-create-entity create-commande text-white" (click)="loadOtherCommandes()">
        <span>Accepter d’autres commandes</span>
        <fa-icon icon="plus"></fa-icon>
      </button>
      <button class="btn btn-info me-2 text-white" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
      </button>
    </div>
  </h2>
  <jhi-alert-error></jhi-alert-error>
  <jhi-alert></jhi-alert>
  <div class="alert alert-warning" id="no-result" *ngIf="commandes?.length === 0">
    <span>Aucune commande trouvée</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="commandes && commandes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort>
          <th scope="col"><span>Client</span> </th>
          <th scope="col"><span>NUM Client</span></th>
          <th scope="col"><span>Adresse </span></th>
          <th scope="col"><span>Date </span></th>
          <th scope="col"><span>Prix Total</span></th>
          <th scope="col"><span>Prix Livraison</span></th>
          <th scope="col"><span>Net</span></th>
          <th scope="col"><span>Délai de livraison prévu</span></th>
          <th scope="col"><span>Etat</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let commande of commandes; trackBy: trackId" data-cy="entityTable">
          <td>{{ commande.client?.nomClient }}</td>
          <td class="text-nowrap">
            <div class="phone-org"></div>{{ commande.client?.numClient }}
          </td>
          <td><div class="pin-org"></div>{{ commande.adresseCommande }}</td>
          <td>{{ commande.dateCommande | formatMediumDatetime }}</td>
          <td style="font-weight: 600">{{ commande.prixTotal }} DT</td>
          <td class="text-info">
            <fa-icon icon="pencil-alt" (click)="editPrixLivraison(commande)"></fa-icon>
            {{ commande.prixLivreson }} DT
          </td>
          <td class="text-success" style="font-weight: 600">{{ commande.prixTotal! + commande.prixLivreson! }} DT</td>
          <td>
            <fa-icon icon="pencil-alt" (click)="editDateLivraison(commande)"></fa-icon>
            {{ commande.dateSortie | formatMediumDatetime }}
          </td>

          <td>
            <button (click)="modifierEtatCmd(commande)" *ngIf="commande.etat === 'accepte'" class="btn btn-success text-white">
              acceptée
            </button>
            <button (click)="modifierEtatCmd(commande)" *ngIf="commande.etat === 'demande'" class="btn btn-secondary text-white">
              En cours de livraison
            </button>
          </td>

          <td class="text-right">
            <div class="btn-group">
              <button
                id="jh-create-entity"
                class="btn bg-org btn-sm text-white"
                data-cy="entityDetailsButton"
                (click)="listCommande(commande)"
              >
                <fa-icon icon="list"></fa-icon>
              </button> 
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="commandes && commandes.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
