<div>
  <h2 id="page-heading" data-cy="CommandeHeading">
    <span>mes commandes en cours</span>

    <div class="d-flex justify-content-end">
      <button id="jh-create-entity" class="btn btn-success jh-create-entity create-commande text-white" (click)="loadOtherCommandes()">
        <span>Accepter d’autres commandes</span>
        <fa-icon icon="plus"></fa-icon>
      </button>
      <button class="btn btn-info me-2 text-white" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
      </button>
    </div>
  </h2>
  <jhi-alert-error></jhi-alert-error>
  <jhi-alert></jhi-alert>
  <div class="alert alert-warning" id="no-result" *ngIf="commandes?.length === 0">
    <span>Aucune commande trouvée</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="commandes && commandes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="client.id"><span>Client</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="adresseCommande"><span>Adresse </span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateCommande"><span>Date </span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prixTotal"><span>Prix Total</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prixLivreson"><span>Prix Livraison</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prixLivreson"><span>Net</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="etat"><span>Etat</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let commande of commandes; trackBy: trackId" data-cy="entityTable">
          <td>
            <div *ngIf="commande.client">
              <a [routerLink]="['/client', commande.client?.id, 'view']">{{ commande.client?.nomClient }}</a>
            </div>
          </td>
          <td>{{ commande.adresseCommande }}</td>
          <td>{{ commande.dateCommande | formatMediumDatetime }}</td>
          <td style="font-weight: 600">{{ commande.prixTotal }} DT</td>
          <td class="text-info">
            <fa-icon icon="pencil-alt" (click)="editPrixLivraison(commande)"></fa-icon>
            {{ commande.prixLivreson }} DT
          </td>
          <td class="text-success" style="font-weight: 600">{{ commande.prixTotal! + commande.prixLivreson! }} DT</td>

          <td>
            <button (click)="modifierEtatCmd(commande)" *ngIf="commande.etat === 'accepte'" class="btn btn-success text-white">
              acceptée
            </button>
            <button (click)="modifierEtatCmd(commande)" *ngIf="commande.etat === 'demande'" class="btn btn-secondary text-white">
              demandée
            </button>
            <button (click)="modifierEtatCmd(commande)" *ngIf="commande.etat === 'prepare'" class="btn btn-warning text-white">
              preparée
            </button>
          </td>

          <td class="text-right">
            <div class="btn-group">
              <button
                id="jh-create-entity"
                class="btn btn-info btn-sm text-white"
                data-cy="entityDetailsButton"
                (click)="listCommande(commande)"
              >
                <fa-icon icon="list"></fa-icon>
              </button>
             <!-- <button type="submit" (click)="delete(commande)" class="btn btn-danger btn-sm text-white" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
              </button> -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="commandes && commandes.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
