

.phone-org {
    position: relative;
    right: 12%;
    top: 20%;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../../../../content/images/svg/phone-org.png') no-repeat center top;
    background-size: contain;
}

.pin-org {
    position: relative;
    right: 12%;
    top: 20%;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../../../../content/images/svg/pin-org.png') no-repeat center top;
    background-size: contain;
}

.bg-org {
    background-color: #ff8d00;
}