<div>
  <h2 id="page-heading" data-cy="PlatHeading">
    <span>Plats</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2 text-white" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-plat text-white"
        [routerLink]="['/plat/new']"
      >
        <fa-icon icon="plus"></fa-icon>
      </button>
    </div>
  </h2>
  <jhi-alert-error></jhi-alert-error>
  <jhi-alert></jhi-alert>
  <div class="alert alert-warning" id="no-result" *ngIf="plats?.length === 0">
    <span>Aucun plat trouvé</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="plats && plats.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="nomPlat"><span>Nom</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="imagePath"><span>Image</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prix"><span>Prix</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="remisePerc"><span>Remise</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"><span>Net</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="menu.id"><span>Menu</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="typePlat.id"><span>Type</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let plat of plats; trackBy: trackId" data-cy="entityTable">
          <td>{{ plat.nomPlat }}</td>
          <td>
            <div
              [style.backgroundImage]="'url(' + plat.imagePath + ')'"
              style="width: 50px; height: 50px; background-size: cover; background-repeat: no-repeat; background-position: center"
            ></div>
          </td>
          <td>
            <span>{{ plat.prix }} DT</span>
          </td>
          <td>
            <span class="text-danger">{{ plat.remisePerc }} %</span>
          </td>
          <td>
            <span class="text-success" style="font-weight: bold">{{ plat.prix! - (plat.prix! * plat.remisePerc!) / 100 }} DT</span>
          </td>
          <td>
            <div *ngIf="plat.menu">
              <a [routerLink]="['/menu', plat.menu?.id, 'view']"> {{ plat.nomRestau }} - {{ plat.menu!.nomMenu }} </a>
            </div>
          </td>
          <td>
            <div *ngIf="plat.typePlat">
              <a [routerLink]="['/type-plat', plat.typePlat?.id, 'view']">{{ plat.typePlat?.type }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/plat', plat.id, 'view']"
                class="btn btn-info btn-sm text-white"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
              </button>

              <button
                type="submit"
                [routerLink]="['/plat', plat.id, 'edit']"
                class="btn btn-primary btn-sm text-white"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>

              <button type="submit" (click)="delete(plat)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="plats && plats.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
