<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-commande-details-heading" data-cy="CommandeDetailsCreateUpdateHeading" *ngIf="!editForm.get('id')!.value">
        Ajouter un Commande Details
      </h2>
      <h2 id="jhi-commande-details-heading" data-cy="CommandeDetailsCreateUpdateHeading" *ngIf="editForm.get('id')!.value">
        Modifier un Commande Details
      </h2>
      <jhi-alert-error></jhi-alert-error>
      <jhi-alert></jhi-alert>
      <div>
        <div class="row mb-3">
          <label class="form-label" for="field_prix">Prix</label>
          <input type="number" class="form-control" name="prix" id="field_prix" data-cy="prix" formControlName="prix" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_etat">Etat</label>
          <input type="text" class="form-control" name="etat" id="field_etat" data-cy="etat" formControlName="etat" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_commande">Commande</label>
          <select class="form-control" id="field_commande" data-cy="commande" name="commande" formControlName="commande">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="commandeOption.id === editForm.get('commande')!.value?.id ? editForm.get('commande')!.value : commandeOption"
              *ngFor="let commandeOption of commandesSharedCollection; trackBy: trackCommandeById"
            >
              {{ commandeOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_plat">Plat</label>
          <select class="form-control" id="field_plat" data-cy="plat" name="plat" formControlName="plat">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="platOption.id === editForm.get('plat')!.value?.id ? editForm.get('plat')!.value : platOption"
              *ngFor="let platOption of platsSharedCollection; trackBy: trackPlatById"
            >
              {{ platOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button
          type="button"
          id="cancel-save"
          data-cy="entityCreateCancelButton"
          class="btn btn-secondary text-white"
          (click)="previousState()"
        >
          <fa-icon icon="ban"></fa-icon>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-success text-white"
        >
          <fa-icon icon="save"></fa-icon>
        </button>
      </div>
    </form>
  </div>
</div>
