<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="user">
      <h2>
        <span>Utilisateur</span> [<strong>{{ user.login }}</strong
        >]
      </h2>
      <jhi-alert-error></jhi-alert-error>
      <jhi-alert></jhi-alert>
      <dl class="row-md jh-entity-details">
        <dt><span>Connexion</span></dt>
        <dd>
          <span>{{ user.login }}</span>
          <span *ngIf="user.activated" class="badge bg-success">Activé</span>
          <span *ngIf="!user.activated" class="badge bg-danger">Désactivé</span>
        </dd>

        <dt><span>Nom </span></dt>
        <dd>{{ user.firstName }}</dd>

        <dt><span>Prénom</span></dt>
        <dd>{{ user.lastName }}</dd>

        <dt><span>Email</span></dt>
        <dd>{{ user.email }}</dd>

        <dt><span>Créé par</span></dt>
        <dd>{{ user.createdBy }}</dd>

        <dt><span>Date de création</span></dt>
        <dd>{{ user.createdDate | date: 'dd/MM/yy HH:mm' }}</dd>

        <dt><span>Modifié en dernier lieu par</span></dt>
        <dd>{{ user.lastModifiedBy }}</dd>

        <dt><span>Date de dernière modification</span></dt>
        <dd>{{ user.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</dd>

        <dt><span>Profiles</span></dt>
        <dd>
          <ul class="list-unstyled">
            <li *ngFor="let authority of user.authorities">
              <span class="badge bg-info">{{ authority }}</span>
            </li>
          </ul>
        </dd>
      </dl>

      <button type="submit" routerLink="../../" class="btn btn-info text-white"><fa-icon icon="arrow-left"></fa-icon></button>
    </div>
  </div>
</div>
